/* Write your CSS code here */
.notfound-container {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image-size {
  min-width: 100px;
  max-width: 200px;
}

.notfound-heading {
  color: #551e53;
  font-family: 'Roboto';
  font-weight: 900;
  font-size: 35px;
}
